#loading{
     position: fixed;
     top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background: #ffffff;
    z-index: 9999999;
    align-items: center;
    justify-content: center;
  }
  .pre-loading-img{
  }
.error-footer{
    margin-top: -7px;
}
.left-btn {
            position: fixed;
            height: 40px;
            line-height: 40px;
            background-color: #00000050;
            color: white;
            top: 50%;
            left: 0;
            padding-right: 10px;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
}
