
#loading{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background: #ffffff;
  z-index: 9999999;
  align-items: center;
  justify-content: center;
}

#back-icon:hover {
  background-color: rgba(0,0,0,0.81);
  transition: 400ms;
}

#back-icon {
  position: fixed;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.31);
  color: #ffffff;
  top: 50%;
  left: 0;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  z-index: 999999;
}

