#loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999999;
  top: 0;
}
.pre-loading-img{
margin-top: 100px;
margin-left: 500px;
}
.btn.btn-success.btn-about-nav {
  border-radius: 7px;
}

.hero-img {
  width: 100%;
}

.hero-text-div {
  margin-top: 140px;
}

@media (max-width: 640px) {
  .btn.btn-success.btn-lg.shadow {
    width: 100%;
  }
}



@media (max-width: 640px) {
  #btn-live {
    width: 100%;
  }
}

@media (max-width: 640px) {
  #btn-live: {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .hero-text-div {
    margin-top: 2px;
  }
}

.logo-img {
  width: 50px;
  margin-top: -8px;
}

#card-img {
  width: 100%;
}

#row-two {
  margin-top: 40px;
}

.block-portfolio {
  margin-top: 100px;
}

.block-jumbotron {
  margin-top: 180px;
}

#card-col-top {
  margin-top: 40px;
}

#btn-live {
  margin-top: 10px;
}

#container-footer {
  background-color: rgb(18,18,18);
  padding-top: 30px;
  padding-bottom: 30px;
}

#link-div {
  margin-top: 10px;
}

.block-contact {
  margin-top: 100px;
  margin-bottom: 200px;
}

