#loading{
   position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background: #ffffff;
  z-index: 9999999;
  align-items: center;
  justify-content: center;
}
.pre-loading-img{

}
.logo-img {
  width: 200px;
}

.main-section {
  padding-top: 130px;
  background-image: linear-gradient(to right bottom, #ff9000, #ff9584, #ffb6d5, #ffdfff, #ffffff);
}

.my-form {
}

.form-inline {
}

.row.row-stats {
  padding-top: 30px;
  padding-bottom: 5px;
}

.main-dog-img {
  width: 100%;
}

.row.form-row {
  width: 100%;
}

.contact-section {
}

.about-sec {
  padding-top: 150px;
  padding-bottom: 50px;
}

